{% load tree cairn %}

{% for summit in nodes %}
    <li class="tree-node">
        {% if summit.slope %}
            <span style="color: {{ summit.slope|slope_colour }}">
                {{ summit.slope|multiply:1000|floatformat:2 }} m/km
            </span>
        {% else %}
            &#x1F451;
        {% endif %}
        {% object_link summit 'mountain' %}

        {% with children=tree|get_item:summit.pk %}
            {% if children %}
                <ul class="mountains">
                    {% slope_tree children tree %}
                </ul>
            {% endif %}
        {% endwith %}
    </li>
{% endfor %}