{% extends 'core/text-page.html' %}

{% load static countries tree cairn %}

{% block page_title %}
    &#x2323; <b>{{ col.point.name }}</b> ({{ col.point.altitude }} m)
    {{ col.point|flags }}
    <a class="edit" href="{{ col.admin_change_url }}">&#x1F589;</a>
{% endblock page_title %}

{% block title %}
    {{ col.point.name }} ({{ col.point.altitude }} m)
{% endblock title %}

{% block page_content %}
    {% for note in col.point.notes.all %}
        <p>
            {{ note }}
        </p>
    {% endfor %}

    {% with lower=col.key_for.all.0 upper=lower.prominence_parent %}
        <h3>
            Key col for <b>{{ lower }}</b>
        </h3>
        {% object_link lower 'mountain' %}
        &#x2198;
        {{ lower.prominence|floatformat:1 }} m
        &#x2197;
        <b>{% object_link lower.prominence_parent 'mountain' %}</b>

        <h3>
            Confluence
        </h3>
        {% object_link col.confluence 'confluence' %}

        <h3>
            Sister cols
        </h3>
        <table class="lineage">
            {% for peak in lower.prominence_parent.prominence_children.all %}
                <tr>
                    <td>
                        {% object_link peak.key_col 'col' %}
                    </td>
                    <td>&rightarrow;</td>
                    <td>
                        {% object_link peak 'mountain' %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>
            Friend cols
        </h3>
        <p>
            Friend cols have the same key confluence and therefore form a natural ridge.
        </p>
        <table class="lineage">
            {% for col in friend_cols %}
                <tr>
                    <td>
                        {% object_link col 'col' %}
                    </td>
                    <td>
                        {% object_link col.key_for.all.0 'mountain' %}
                    </td>
                    <td>&rightarrow;</td>
                    <td>
                        {% object_link col.key_for.all.0.prominence_parent 'mountain' %}
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% endwith %}

{% endblock page_content %}