{% extends 'core/text-page.html' %}

{% load static countries tree cairn %}

{% block page_title %}
    <span class="col">{{ col.name }}</span> ({{ col.point.altitude }} m)
    {{ col.point|flags }}
    <a class="edit" href="{{ col.admin_change_url }}">&#x1F589;</a>
{% endblock page_title %}

{% block title %}
    &#x222A; {{ col }} ({{ col.point.altitude }} m)
{% endblock title %}

{% block page_content %}
    {% for note in col.point.notes.all %}
        <p>
            {{ note }}
        </p>
    {% endfor %}

    {% with lower=col.key_for upper=lower.prominence_parent %}
        <h2>
            Key col for <b>{% object_link lower 'mountain' %}</b>
        </h2>
        {% object_link lower 'mountain' %}
        &#x2198;
        {{ lower.prominence|floatformat:1 }} m
        &#x2197;
        <b>{% object_link lower.prominence_parent 'mountain' %}</b>


        <h3>
            Sibling cols
        </h3>
        <p>
            Sibling cols have the same parent peak.
        </p>
        <table class="lineage">
            {% for peak in lower.prominence_parent.prominence_children.all %}
                <tr>
                    <td>
                        {% object_link peak.key_col 'col' attr='name' %}
                    </td>
                    <td>&rightarrow;</td>
                    <td>
                        {% object_link peak 'mountain' %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2>
            Confluence
        </h2>
        {% object_link col.confluence_river 'river' attr='source' %}
        &rightarrow;
        {% object_link col.confluence_river.parent 'river' %}
        <h3>
            Friend cols
        </h3>
        <p>
            Friend cols have the same key confluence. Together they form a natural ridge.
        </p>
        <table class="lineage">
            {% for col in friend_cols %}
                <tr>
                    <td>
                        {% object_link col 'col' attr='name' %}
                    </td>
                    <td>
                        {% object_link col.key_for 'mountain' attr='name' %}
                    </td>
                    <td>&rightarrow;</td>
                    <td>
                        {% object_link col.key_for.prominence_parent 'mountain' attr='name' %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endwith %}

{% endblock page_content %}
