{% extends 'core/text-page.html' %}
{% load static tree %}

{% block title %}Horizon forest{% endblock title %}
{% block page_title %}Horizon forest{% endblock page_title %}

{% block page_content %}
    <div class="data">
        <p>
            Another well-defined measure of a mountain's dominance in its vicinity
            is the highest visible with respect to the local horizon.
            For peak A, we take every other peak in the database and compute the vertical angle &beta;,
            filter out those for which it is positive, and mark the one with
            the highest value as the parent of the peak.
        </p>
        <p>
            Compared to <a href="{% url 'isolation-tree' %}">isolation</a>,
            this forms many isolated trees &ndash; isolated dominant peaks often
            have a completely clean horizon and all other visible peaks, if any, are below
            the tangential plane. The horizon measure therefore does not result
            in a complete hierarchy.
        </p>
        <p>
            Also unlike plain <a href="{% url 'slope-tree' %}">slope</a>,
            this hierarchy is not that shallow and results in fewer surprises.
            However, there are again at least two posible definitions:
            one is purely geometric, which is well-defined and does not need any other parameters;
            another also takes atmospheric refraction into account.
            Currently we only store values for the standard value of <i>c</i> = 0.14.
        </p>
        <p>
            By default, children are sorted in descending order by angle:
            peaks for which the angle is high are likely to be minor sub-summits,
            while peaks that are just enough far away to reach a small but positive
            values are likely relatively important, independent summits.
        </p>
        <ul class="tree">
            {% horizon_tree roots tree %}
        </ul>
    </div>
{% endblock page_content %}
