[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
geopy = "*"
psycopg2-binary = "*"
python-decouple = "*"
pytz = "*"
django-cairn = {editable = true, path="/home/kvik/python/django-cairn/"}
django-map-widgets = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.14"
