{% extends 'core/text-page.html' %}

{% load static tree countries cairn %}

{% block headextra %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@9/ol.css">
    <script src="https://cdn.jsdelivr.net/npm/ol@9/dist/ol.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/summit-detail-map.js' %}"></script>
{% endblock headextra %}

{% block title %}
    &#x26F0; list
{% endblock title %}

{% block page_title %}
    List of mountains
{% endblock page_title %}

{% block page_content %}
    <form class="filter" method="get" action="">
        <ul>
            {{ filter_form.as_ul }}
            <input type="submit">Filter</input>
        </ul>
    </form>

    <table class="sortable alternating">
        <thead>
            {% include 'mountains/summit/list/thead.html' %}
        </thead>
        <tbody>
            {% for mountain in mountains %}
                <tr>
                    <td class="number">{{ forloop.counter }}</td>
                    <td>
                        {% for country in mountain.point.countries.all %}
                            {% flaglet country.code %}
                        {% endfor %}
                    </td>
                    <td class="link"> {% object_link mountain 'mountain' 'name' %} </td>
                    <td class="altitude">{{ mountain.point.altitude|altitude }}</td>
                    <td class="link">{% object_link mountain.key_col 'col' attr='name' %}</td>
                    <td class="altitude">{{ mountain.key_col.point.altitude|altitude }}</td>
                    <td class="distance">{{ mountain.distance_to_key_col.m|distance }}</td>
                    <td class="slope" style="color: {{ mountain.slope_to_key_col|slope_colour }};">{{ mountain.slope_to_key_col|slope }}</td>

                    <td class="altitude">
                        {% if mountain.island_high_point %}&#x1F3DD;{% endif %}
                        {{ mountain.prominence|altitude }}
                    </td>
                    <td class="number">{{ mountain.dominance|floatformat:3 }}</td>
                    <td class="link">{% object_link mountain.prominence_parent 'mountain' attr='name' %}</td>
                    <td class="altitude">{{ mountain.prominence_parent.point.altitude|altitude }}</td>
                    <td class="distance">{{ mountain.distance_to_parent.m|distance }}</td>

                    <td class="distance">{{ mountain.isolation.m|distance }}</td>
                    <td class="link">{% object_link mountain.isolation_parent 'mountain' attr='name' %}</td>
                    <td class="slope" style="color: {{ mountain.slope|slope_colour }};">{{ mountain.slope|slope }}</td>
                    <td class="link">{% object_link mountain.slope_parent 'mountain' %}</td>
                    <td class="distance">{{ mountain.dd.m|distance }}</td>
                    <td class="altitude">{{ mountain.dh|diff_altitude }}</td>
                    <td class="angle" style="color: {{ mountain.angle|angle_colour }};">{{ mountain.angle|angle_above_horizon }}</td>
                    <td class="link">{% object_link mountain.horizon_parent 'mountain' %}</td>
                    <td class="distance">{{ mountain.distance_to_horizon.m|distance }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% include 'mountains/summit/list/thead.html' %}
        </tfoot>
    </table>
{% endblock page_content %}
