{% load cairn tree %}

{% for summit in nodes %}
    <li class="tree-node">
        {% if summit.isolation %}
            &#x2196;
            <span class="distance">{{ summit.isolation.km|floatformat:3 }} km</span>
        {% endif %}
            {% object_link summit 'mountain' %}
            {% with children=tree|get_item:summit.pk %}
                {% if children %}
                    <ul class="mountains">
                        {% isolation_tree children tree %}
                    </ul>
                {% endif %}
            {% endwith %}
    </li>
{% endfor %}