{% extends 'core/text-page.html' %}

{% load static countries %}

{% block page_title %}
    &#x2323; <b>{{ col.point.name }}</b> ({{ col.point.altitude }} m)
    {{ col.point|flags }}
    <a class="edit" href="{{ col.admin_change_url }}">&#x1F589;</a>
{% endblock page_title %}

{% block title %}
    {{ col.point.name }} ({{ col.point.altitude }} m)
{% endblock title %}

{% block page_content %}
    {% for note in col.point.notes.all %}
        <p>
            {{ note }}
        </p>
    {% endfor %}

    {% with lower=col.key_for.all.0 upper=lower.prominence_parent %}
        <h3>
            Key col for <b>{{ lower }}</b>
        </h3>
        {{ lower }}
        &#x2198;
        {{ lower.prominence|floatformat:1 }} m
        &#x2197;
        <b>{{ lower.prominence_parent }}</b>

        <h3>
            Sister cols
        </h3>
        <table class="lineage">
            {% for peak in lower.prominence_parent.prominence_children.all %}
                <tr>
                    <td>
                        <a class="col" href="{{ peak.key_col.get_absolute_url }}">{{ peak.key_col }}</a>
                    </td>
                    <td>&rightarrow;</td>
                    <td>
                        <a class="mountain" href="{% url 'summit-detail' peak.pk %}">{{ peak }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endwith %}

{% endblock page_content %}