{% load tree cairn %}

<h3>
    Horizon angle
</h3>

<table>
    <thead>
        <tr>
            <th>peak</th>
            <th>&uparrow;</th>
            <th>&leftrightarrow;</th>
            <th>&#x2197;</th>
            <th>&#x2197; (air)</th>
        </tr>
    </thead>
    {% for summit in by_horizon %}
        <tr class="{% if summit.hhp_angle > 0 %}up{% else %}down{% endif %}">
            <td class="summit">
                {% object_link summit 'mountain' %}
            </td>
            <td class="altitude">
                {{ summit.dh|diff_altitude }}
            </td>
            <td class="distance">
                {{ summit.distance|floatformat:3 }}
            </td>
            <td class="angle">{{ summit.hhp_angle|angle_above_horizon }}</td>
            <td class="angle">{{ summit.hhp_angle_std|angle_above_horizon }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="99" class="empty">
                no peaks in the database
            </td>
        </tr>
    {% endfor %}
</table>
