{% extends 'core/text-page.html' %}

{% load static tree cairn %}

{% block title %}
    {{ confluence.point }}
{% endblock title %}

{% block page_title %}
    Confluence &#x22CE; <b>{{ confluence.point }}</b>
{% endblock page_title %}

{% block page_content %}
    <h3>
        Full ridge
    </h3>
    <table>
        {% for col in confluence.cols.all %}
            <tr>
                <td>
                    {% object_link col 'col' 'full_name' %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock page_content %}