{% load tree %}

{% if node.isolation_parent %}
    <tr>
        <td class="distance">
            {% if node.isolation %}
                {{ node.isolation.m|distance }}
            {% else %}
                ?
            {% endif %}
        </td>
        <td>
            &rightarrow;
        </td>
        <td>
            {% if node.isolation_name %}{{ node.isolation_name }}{% endif %}
        </td>
        {% if node.isolation %}
            <td class="distance">
                {{ node.isolation_offset_vector.dist|floatformat:0 }} m
            </td>
            <td class="azimuth">
                ({{ node.isolation_offset_vector.az|floatformat:0 }}°)
            </td>
        {% else %}
            unknown distance
        {% endif %}
        <td>
            from
        </td>
        <td>
            <a class="mountain"
               href="{{ node.isolation_parent.get_absolute_url }}">{{ node.isolation_parent.point.name }}
               ({{ node.isolation_parent.point.altitude|altitude }})</a>
        </td>
        <td>

        </td>
    </tr>
    {% render_isolation_lineage node.isolation_parent %}
{% else %}
    <tr>
        <td colspan="99">
            {% if node.isolation %}
                (unknown) ({{ node.isolation|multiply:0.001|floatformat:3 }} km)
            {% else %}
                (not in the database)
            {% endif %}
        </td>
    </tr>
{% endif %}
