{% load tree %}

{% for summit in nodes %}
    <li class="tree-node">
        <a class="mountain" href="{% url 'summit-detail' summit.id %}">{{ summit.point.name }}</a>
        ({{ summit.point.altitude }} m) &#x2198;
        <span class="prominence">{{ summit.prominence|floatformat:1 }} m</span>
        {% if summit.island_high_point %}
            (island high point)
        {% elif summit.key_col %}
            via <a class="col" href="{% url 'col' summit.key_col.id %}">{{ summit.key_col }}</a>
        {% else %}
            via unknown col
        {% endif %}

        {% with children=children_map|get_item:summit.pk %}
            {% if children %}
                <ul class="mountains">
                    {% prominence_tree children children_map %}
                </ul>
            {% endif %}
        {% endwith %}
    </li>
{% endfor %}