{% extends 'core/map-page.html' %}

{% load static %}

{% block headextra %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@9/ol.css">
    <script src="https://cdn.jsdelivr.net/npm/ol@9/dist/ol.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/styles.js' %}"></script>
    <script src="{% static 'js/rivers.js' %}"></script>
{% endblock headextra %}

{% block title %}
    Map
{% endblock title %}

{% block init_map %}
    <script>
        initGlobalMap(
            "{% url 'summits-geojson' %}",
            "{% url 'rivers-geojson' %}",
            "{% url 'cols-geojson' %}",
        )
    </script>
{% endblock init_map %}
