{% extends 'core/text-page.html' %}
{% load static tree %}

{% block title %}Prominence forest{% endblock title %}
{% block page_title %}Prominence forest{% endblock page_title %}

{% block page_content %}
    <div class="data">
        <p>
            This structure is a <b>tree</b>: every summit except the root (Mount Everest) has exactly one parent.
            Other peaks without parents are an artifact of an incomplete database, but otherwise it should be true.
        </p>
        <ul class="tree tree-root">
            {% prominence_tree roots tree %}
        </ul>
    </div>
{% endblock page_content %}
